.customers {
  &__list {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      @include list(30px);
    }
  }
  &__link {
    width: 170px;
    height: 92px;
    color: $mainIconColor;
    border: 1px solid currentColor;
    @include flex(flex, center, center);

    fill: currentColor;
    @include transition(color);
    &:hover,
    &:focus {
      color: $hoverColor;
    }
  }
}
