.customers {
  &__list {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
      &:first-child {
        margin: 0;
      }
      &:last-child {
        margin: 0;
      }
    }
    @media screen and (min-width: 1200px) {
      @include list(30px);
    }
  }
  &__link {
    max-width: 170px;
    height: 92px;
    color: $mainIconColor;
    border: 1px solid currentColor;
    @include flex(flex, center, center);

    fill: currentColor;
    @include transition(color);
    @media screen and (max-width: 768px) {
      width: 210px;
    }
    @media screen and (min-width: 768.1px) and (max-width: 1199.9px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
    &:hover,
    &:focus {
      color: $hoverColor;
    }
  }
}
