.filter {
  @include list(8px);

  justify-content: center;
  list-style-type: none;
  padding: 0px;
  height: 38px;

  width: 100%;
  &-container {
    margin-bottom: 50px;
  }
  &__button {
    @include font(normal, 500, 16px, 1.6, 0.03em);

    text-align: center;

    background-color: $buttonColor;
    border-radius: 4px;
    border: 0;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic-bezier);
    &:hover,
    &:focus {
      color: $backgroundColor;
      background-color: $hoverColor;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    &--first {
      width: 121px;
      height: 38px;
    }
    &--site {
      width: 98px;
      height: 38px;
    }
    &--aplication {
      width: 114px;
      height: 38px;
    }
    &--dizajn {
      width: 91px;
      height: 38px;
    }
    &--marketing {
      width: 121px;
      height: 38px;
    }
  }
}
