.page-header {
  &__border {
    border-bottom: 1px solid var(--header-border-color);
  }
  &__contacts--font-color {
    color: $secondaryFontColor;
  }
}
.page-header__container {
  position: relative;
  height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  // margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 420px) {
}

@media (max-width: 768px) {
  .page-header__links-wrapper {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-header__socials {
    display: none;
  }
  .page-header__links-wrapper {
    display: flex;
  }
}
.page-header__contacts {
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;
  }
  @media (min-width: 1201px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: center;
  }
}
.page-header__nav {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  &-item {
    color: $PrimaryFontColor;
    @include font(normal, 500, 14px, 1.1, 0.02);
  }
}
.current-link {
  position: relative;
  color: $hoverColor;
  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -32px;
    background-color: $hoverColor;
    width: 58px;
    height: 4px;
    border-radius: 2px;
  }
}
.home-link {
  font-family: "Raleway";
  @include font(normal, 700, 26px, 1.2, 0.03em);
  color: $logoSecColor;
  &__highlight {
    color: $logoPrimarycolor;
  }
}
