:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --other-section-color: #2f303a;
}
$heroBackGroundColoc: #2f303a;
$backgroundColor: #ffffff;
$accessary-color: #fff;
$secBackgroundColor: #f5f4fa;
$PrimaryFontColor: #212121;
$secondaryFontColor: #757575;
$hoverColor: #2196f3;
$logoPrimarycolor: #2196f3;
$logoSecColor: #000000;
$footerFontColor: #ffffff;
$mainIconColor: #afb1b8;
$iconBackgroundColor: #f5f4fa;
$footAdresFontColor: rgba(255, 255, 255, 0.6);
$footSocialColor: rgba(255, 255, 255, 0.1);
$footerBackgroundColor: rgba(47, 48, 58, 1);
$teamBackgroundColor: rgba(245, 244, 250, 1);
$heroBackgroundColor: rgba(47, 48, 58, 0.4);
$secHoverColor: #fff;
$boxShadowTeam: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$boxShadowButon: 0px 4px 4px rgba(0, 0, 0, 0.15);
%h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
%list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
